<h2 class="text-lgx text-gris_1 col-12 text-start mt-3 mb-5 pt-2 pb-3 border-bottom" *ngIf="title">{{title}}</h2>
<div class="col-12">
  <form [formGroup]="conectorFormulario.form" (ngSubmit)="onSubmit()" class="form" novalidate>
    
    <div class="form-row">
      <div *ngFor="let conectorInputForm of conectorFormulario.conectoresInputForm" [class]="conectorInputForm.input.classGrid" [formGroup]="conectorFormulario.form" class="form-group" [ngClass]="(conectorInputForm.input.visible)?'':'m-0'">
          <app-structure-form-row [formcontrol]="conectorInputForm.control"
              [title]="title"
              [submitted]="submitted"
              [onFocusFunction]="conectorInputForm.onFocusFunction"
              [onBlurFunction]="conectorInputForm.onBlurFunction"              
              [submitting]="submitting"
              [form]="conectorFormulario.form"
              [input]="conectorInputForm.input" 
              [oldValue]="oldValues?oldValues[conectorInputForm.input.key]:''"></app-structure-form-row>
      </div>
    </div>

    <div *ngIf="outputError" class="form-row">
      <div class="col-12 ">
        <span class="text-danger "><i class="bi bi-x-circle-fill mr-2"></i>{{outputError}}</span>
      </div>
    </div>
    
    <!-- INPUT NG FOR -->
    <div *ngIf="!isUpdating && !onlyRead" class="form-row">
      <div class="form-group col-12 pt-3">
        <div *ngIf="!customButtons" class="d-grid gap-2">
          <button *ngIf="hasSubmitButton" type="submit" class="btn d-inline btn-success btn-submit px-5" >{{label_submit}}</button>
        </div>
      </div>
    </div>
    <!-- ///////// -->

  </form>
</div>


