<nav class="navbar navbar-light navbar-page fixed-top pt-0">
	<div class="container-fluid p-0">
		<div class="col-12 section-topbar bg-verde_1 text-center py-2 p-lg-3">
			<h5 class="text-blanco text-lightFont mb-0">Aquí algún aviso importante, como el COVID 19, por ejemplo. <a href="#" class="text-blanco text-semiBold">SABER MÁS</a></h5>
		</div>
	</div>
	<div class="container">
		<div class="row d-flex align-items-stretch justify-content-between w-100 pt-2">
			<div class="col-4 col-xl-1 col-xxl-1">
				<a class="navbar-brand" href="#">
					<img src="../../../../assets/images/logo-listos.png" alt="">
				</a>
			</div>
			<div class="col d-none d-xl-flex justify-content-end align-items-center">
				<ul class="nav justify-content-end ms-auto">
					<li class="nav-item">
						<a class="nav-link" [routerLink]="[ '/web/inicio']" routerLinkActive="active">Inicio </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="[ '/web/quienes-somos']" routerLinkActive="active">Quiénes somos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://vumoffice.vum.com.co/login" target="_blank">VUM Office</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://vumtalent.vum.com.co/candidato/listos/inicio" target="_blank">
							<span class="badge text-smx bg-azul_1">Talento</span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
							Transacciones
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<div class="accordion" id="accordion-navbar">
								<div class="accordion-item">
									<h2 class="accordion-header" id="panelsStayOpen-headingOne">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-proveedores" aria-expanded="false" aria-controls="panel-proveedores">
											Proveedores
										</button>
									</h2>
									<div id="panel-proveedores" class="accordion-collapse collapse" data-bs-parent="#accordion-navbar" aria-labelledby="panelsStayOpen-headingOne">
										<div class="accordion-body">
											<ul class="nav nav-accordion">
												<li class="nav-item">
													<a href="https://onbase.visionymarketing.com.co/AppNet/UnityForm.aspx?d1=Ad%2f3%2f1OUrng4deGyqDNZWwhgY9Cr%2fvFBtX1T2ZJh9YtA6b9xfHm5lJzwEol8ij91N%2ffCqUcMJL4Bir1hM15372r6Im3l622xN2yvkVnfxTI%2fHPyGxPuDOaer8acM%2b3QyuQVUL7m8Mf4Cvxhwlh5UUl1f2wU5%2fwrtYr%2bxqu%2bJBV0C880NjHNauxNGLhS9uCpls3Yv%2frxkv6hK0fgHLYHmjzITIRYmZH4CuMfewa9EvAKxUnIr5NPUogoB6DSwKnSiyQ%3d%3d" class="nav-link">Instructivo para la inscripción</a>
												</li>
												<li class="nav-item">
													<a href="https://onbase.visionymarketing.com.co/AppNet/UnityForm.aspx?d1=AXRIUA5xaIcoYwTQX5ht744khFhdn7X%2bAiNxmX4xQqZl3w6KgDsoQ6HDsOq6Kw7vU%2fCVSOc1FOXl3GGuq8%2b%2bMSehEw16T4MyV98n0aCLCMuuEUpqtIAC0vNQs%2b0cydDnqxSuQWqZOGp9HLk%2ffJPBRifDQwTKRTyH1y2%2fqpPGeSSVsQT%2btnCJEkPpzAROViTlcoDKw1jCbIEjv0BMZHQ4BfCDoEhHxhXpzc00DzKyVewIqCRwpjE3fGm437y68jp2RA%3d%3d" class="nav-link">Registro Nacional de Proveedores</a>
												</li>
												<li class="nav-item">
													<a href="https://onbase.visionymarketing.com.co/AppNet/UnityForm.aspx?d1=AbyWyPf%2fNGUfDQWIPz8F4LIYqmAVNKigaUAmwMw0Rqge%2bHH%2fKFBXF57SYjsQ6vAqj1mAt7Bq7Y6qaESJjNEMZpoPiApDPNXCXe96NmqPL3p5MHNd0qkmrwtAeWVvnthAc6PNTIIv314L8NWo8fLY0mcdsbsmind%2fyKMbCKmUUGEy" class="nav-link">Ventanilla Unica</a>
												</li>
												<li class="nav-item">
													<a href="https://listos.t3rsc.co/reclutamiento/login" class="nav-link">Reclutadores Freelance</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-zona-empleados" aria-expanded="false" aria-controls="panel-zona-empleados">
											Zona Empleados
										</button>
									</h2>
									<div id="panel-zona-empleados" class="accordion-collapse collapse" data-bs-parent="#accordion-navbar" aria-labelledby="panelsStayOpen-headingTwo">
										<div class="accordion-body">
											<ul class="nav nav-accordion">
												<li class="nav-item">
													<a href="http://www.listos.com.co:8080/vumservice/vista/logueoVista/logueoVista.php#no-back-button" class="nav-link">VUM service</a>
												</li>
												<li class="nav-item">
													<a href="https://selfservice.visionymarketing.com.co/webkactus1/frmlogin.aspx" class="nav-link">Self service</a>
												</li>
												<li class="nav-item">
													<a href="https://www.listos.com.co/ListosWeb/files/proteDatos/MA-MEJ-02_PROTECCION_DE_DATOS_PERSONALES_LISTOS.pdf" class="nav-link">Protección de datos personales</a>
												</li>
												<li class="nav-item">
													<a href="http://siga.listos.com.co:9092/Siga-1.0.0/" class="nav-link">Siga</a>
												</li>
												<li class="nav-item">
													<a href="https://www.listos.com.co/formularios/admon.php" class="nav-link">Listos web</a>
												</li>
												<li class="nav-item">
													<a href="#" class="nav-link">T3rs creativo</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="panelsStayOpen-headingThree">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-zona-clientes" aria-expanded="false" aria-controls="panel-zona-clientes">
											Zona clientes
										</button>
									</h2>
									<div id="panel-zona-clientes" class="accordion-collapse collapse" data-bs-parent="#accordion-navbar" aria-labelledby="panelsStayOpen-headingThree">
										<div class="accordion-body">
											<ul class="nav nav-accordion">
												<li class="nav-item">
													<a href="https://vumtalent.vum.com.co/corporativo/iniciar-sesion" class="nav-link">Portal clientes</a>
												</li>
												<li class="nav-item">
													<a href="https://vumtalent.vum.com.co/candidato/listos/inicio" class="nav-link">¿Necesitas Talento?</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/web/inicio#section-contact">Contáctanos</a>
					</li>
				</ul>
			</div>
			<div class="col-3 d-flex d-xl-none">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
		
		<!-- RESPONSIVE SIDEBAR -->
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
			<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
				<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Dropdown
				</a>
				<ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
					<li><a class="dropdown-item" href="#">Action</a></li>
					<li><a class="dropdown-item" href="#">Another action</a></li>
					<li>
					<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			</div>
		</div>
	</div>
</nav>

<!-- INICIO CONTENEDOR OVERLAY -->
<!-- <div *ngIf="sidebarOpen" class="overlay-filtros" (click)="toggleRightSideBar()"></div> -->
<!-- FIN CONTENEDOR OVERLAY -->