<div [formGroup]="form"  [ngClass]="(input.visible)?'':'d-none'">

  <!-- Label -->
  <label
    *ngIf="input.label && input.controlType != 'inputCheckbox' && input.controlType != 'inputHr' && input.controlType != 'inputEmpty'  && input.type != 'checkbox' && input.type != 'radio' && input.type != 'checkbox'"
    [attr.for]="input.key">{{input.label}} <span class="text-xs" *ngIf="input.required">(Requerido)</span></label>

  <div class="form-row">
    <div class="input-group input-group_autocomplete col-12">
      <input [formControlName]="input.key" [attr.data-value]="setJSONmodel()" [id]="input.key" class="form-control" type="text"
        [class.is-invalid]="searchFailed" [ngbTypeahead]="search" placeholder="Escribe para autocompletar"
        [inputFormatter]="inputFormatter" [(ngModel)]="model" [resultFormatter]="outputFormatter" [editable]="true"
        (selectItem)="onBlur($event)"
        [ngClass]="{
      'is-valid': model.value !== undefined, 
      'is-invalid': model.value == undefined && (formcontrol.dirty || formcontrol.touched) }" />
    </div>
  </div>
  
  <input type="hidden" [id]="input.key" [attr.data-value]="setJSONmodel()"/>
  
  <app-autocomplete-helper *ngIf="!input?.params?.noInfo" class="form-row" [freeTextValid]="freeTextValid" [freeText]="freeText" [searchFailed]="searchFailed" [searching]="searching" [pleaseaddletters]="pleaseaddletters">
  </app-autocomplete-helper>
  
  <!-- Message error -->
  <app-validator-error *ngIf="input && form" [input]="input" [submitted]="submitted" [formcontrol]="formcontrol" [form]="form" class="message-error"></app-validator-error>

</div> 
<!-- <pre>Model: {{ model | json }}</pre>
<pre>freeText: {{ freeText }}</pre>
<pre>freeTextValid: {{ freeTextValid }}</pre>
<pre>Value: {{ (input.key).value | json }}</pre> -->