<div [formGroup]="form" [ngClass]="(input.visible)?'':'d-none'">
	<!-- Label -->
	<div class="row d-flex">
		<div class="col-12 order-2 order-lg-1 col-lg-5 pt-4">
			<canvas class="position-relative w-75" #canvasPreview></canvas>
			<hr class="border-top mt-0">
			<p class="text-bold">{{signatureParamsTitle}}</p>
			<p *ngFor="let txt of signatureParams">{{txt | cedulaPuntuada}}</p>
		</div>
		<div class="col-12 order-1 order-lg-2 col-lg-7 pl-lg-5">
			<label
				*ngIf=" input.controlType != 'inputCheckbox' && input.controlType != 'inputHr' && input.controlType != 'inputEmpty'  && input.type != 'checkbox' && input.type != 'radio' && input.type != 'checkbox'"
				[attr.for]="input.key">{{input.label}} <span class="text-xs m-0 p-0" *ngIf="input.required">(Requerido)</span></label>
			<p-tabView (onChange)="cambiarTab($event)">
				<p-tabPanel header="Firma automática">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-12 pb-1">
									<span>Texto de la firma:</span>
								</div>
								<div class="col-12">
									<input #textitem (keyup)="updateText($event)" type="text"
									class="form-control" [placeholder]="signaturePlaceholder" [value]="textoFirmaActual">
								</div>
								<div class="col-12 pt-4 pb-2">
									<span>Tipo</span>
								</div>	
								<div class="col-6">
									<select autocomplete="off" (change)="onChangeFont($event)" [attr.data-value]="finalValue" class="form-control">
										<option *ngFor="let opt of fontOptions||[]; let i = index" [attr.data-index]="i" [value]="opt.key">{{opt.value}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>	
				</p-tabPanel>
				<p-tabPanel header="Dibujar firma">
					<div class="row">
						<div class="col-2">
							<button class="btn btn-outline-primary" (click)="eraseCanvas($event)">Borrar</button>
						</div>
						<div class="col-10">
							<canvas class="border" #canvasSignature (mousedown)="setAsRecording()" (window:mouseup)="activeIndex===1 && recording===true && actualizarSignaturePad()"></canvas>
						</div>
					</div>
				</p-tabPanel>
				<p-tabPanel header="Subir imagen de firma">
					<div class="row">
						<div class="col-12" [ngClass]="input.inputFileClass">
							<!-- Label -->
							<!-- Input -->
							<div class="custom-file">
								<input class="custom-file-input" type="file" (change)="fileEvent($event)">
								<!-- Message error -->
							<div>
							<div class="errorMessage text-danger mt-1 py-2 text-s"
									*ngIf="customError">
									El campo <strong>{{input.label}}</strong> {{customError}}
								</div>
							</div>
							
							<label class="custom-file-label" [attr.for]="input.key" data-browse="Subir archivo">{{file?.name || "Seleccionar una imagen"}}</label>
					
							</div>
						</div>
						<div class="list-file-added pt-4 pt-lg-0 col-12 col-lg-6 ng-star-inserted d-flex align-items-center flex-wrap" *ngIf="oldValue">
							<!-- BTN VER -->
							<div class="col-12 px-0">
								<h5 class="text-gris_1 text-lightFont text-sm w-100">Existe un archivo cargado previamente.</h5>
							</div>   
							<div class="col-12 px-0">
								<a [href]="oldValue" target="_blank" class="btn btn-sm px-0 d-inline-flex align-items-center justify-content-center">
									<i class="las la-lg la-download btn-iconAction btn-iconAction_download"></i>
									<span>Ver archivo</span>
								</a>
							</div>
						</div>
					</div>
					
		
				</p-tabPanel>
			</p-tabView>
		</div>

	</div>
	
	<!-- Message error -->
	<!-- <app-validator-error *ngIf="input && form" [input]="input" [submitted]="submitted" [formcontrol]="formcontrol" [form]="form" class="message-error"></app-validator-error> -->
</div>

