<!-- INPUT NG FOR -->
<div [ngSwitch]="input.controlType">

    <!-- INPUT GENERAL -->
    <app-text *ngSwitchCase="'inputText'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [submitted]="submitted" [form]="form" [oldValue]="oldValue"
        [title]="title"></app-text>
    <!-- //// -->
    <!-- //// -->
    <!-- INPUT PASSWORD GENERAL -->
    <app-password *ngSwitchCase="'inputPassword'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [submitted]="submitted" [form]="form"
        [oldValue]="oldValue" [title]="title"></app-password>
    <!-- //// -->    
    <!-- SELECT GENERAL -->
    <app-select *ngSwitchCase="'inputSelect'" [optionMakers]="input.options" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [submitted]="submitted" [form]="form"
        [oldValue]="oldValue" [title]="title"></app-select>
    <!-- //// -->
    <!-- INPUT CHECKBOX -->
    <app-checkbox *ngSwitchCase="'inputCheckbox'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [submitted]="submitted" [form]="form"
        [oldValue]="oldValue" [title]="title"></app-checkbox>
    <!-- //// -->
    <!-- INPUT Empty -->
    <app-empty *ngSwitchCase="'inputEmpty'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [title]="title"></app-empty>
    <!-- //// -->
    <!-- INPUT DIRECCION -->
    <app-file *ngSwitchCase="'inputFile'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [submitted]="submitted" [form]="form" [oldValue]="oldValue"
     [title]="title"></app-file>
    <!-- //// -->
    <!-- INPUT HR -->
    <app-hr *ngSwitchCase="'inputHr'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [title]="title"></app-hr>
    <!-- INPUT DATEPICKER -->
    <app-date *ngSwitchCase="'inputDate'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [submitted]="submitted" [form]="form" [oldValue]="oldValue"
        [title]="title"></app-date>
    <!-- //// -->
    <!-- TEXTAREA -->
    <app-textarea *ngSwitchCase="'inputTextarea'" [input]="input" [formcontrol]="formcontrol" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [submitted]="submitted" [form]="form"
        [oldValue]="oldValue" [title]="title"></app-textarea>
    <!-- ERROR MESSAGE -->
    <!-- //// -->
     <!-- HTML CUSTOM -->
     <app-html-forms *ngSwitchCase="'inputHTML'" [input]="input" [onBlurFunction]="onBlurFunction" [onFocusFunction]="onFocusFunction" [title]="title"></app-html-forms>
 <!-- //// -->
    
</div>