<footer class="footer-page bg-grisClaro_1">
    <div class="container py-4">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-xxl-9 py-4 py-lg-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 d-none d-lg-block section-footer_menu ps-4">
                        <h5 class="text-verde_1 text-bold text-md">EMPRESA</h5>
                        <ul class="nav nav-footer">
                            <li class="nav-item">
                                <a href="#" class="nav-link">¿Quiénes somos?</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Talento</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">VUM Office</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contáctanos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-5 d-none d-lg-block section-footer_menu ps-4">
                        <h5 class="text-verde_1 text-bold text-md">SEDES NACIONALES</h5>
                        <ul class="nav nav-footer">
                            <li class="nav-item">
                                <span class="nav-link">Cali: 608 48 48</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">Bogotá: 601 22 22</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">Medellín: 448 40 28</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">Barranquilla: 385 28 29</span>   
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 ps-4">
                        <h5 class="text-verde_1 text-bold text-md text-center text-lg-start">SÍGUENOS EN REDES</h5>
                        <ul class="nav nav-footerRedesSociales justify-content-center justify-content-lg-start">
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 bg-grisOscuro_2">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-footerBottom">
                    <li class="nav-item d-none d-lg-flex">
                        <a href="" class="nav-link">Información Legal</a>
                    </li>
                    <li class="nav-item d-none d-lg-flex">
                        <a href="" class="nav-link">Acerca de LISTOS SAS</a>
                    </li>
                    <li class="nav-item d-none d-lg-flex">
                        <a href="" class="nav-link">Contáctanos PQRS</a>
                    </li>
                    <li class="nav-item d-none d-lg-flex">
                        <a href="" class="nav-link">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Derechos reservados © 2021 LISTOS SAS</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>