.btn{
    &-custom{
        &_colorSolido{
            transition: all .3s ease-in-out;
            &:hover,
            &:focus,
            &:active{}
        }
        &_colorBorder{
            &:hover,
            &:focus,
            &:active{}
        }
    }
    &-outlineBlanco{
        padding: .6rem 3rem;
        border: 1px solid #fff;
        border-radius: 0px;
    }
}
