/* CARDS */
.card{
    &-servicios_owlcarousel{
        border: 0px;
        border-radius: 0px;
        box-shadow: none;
        .card-header{
            border: 0px;
            display: flex;
            justify-content: center;
            background-color: transparent;
            min-height: 115px;
            max-height: 115px;
            img{
                max-width: 80px !important;
                width: 100%;
            }
        }
        .card-body{
            padding: 1rem 1rem;
        }
    }
}