<section class="row section-quienesSomos">
    <!-- SECCION SLIDER PRINCIPAL -->
    <div class="col-12">
        <app-owl-carousel [customOptions]="OwlCarouselPrincipalOptions" [slidesStore]="SlidesPrincipal" ></app-owl-carousel>
    </div>
    <!-- SECCION QUIENES SOMOS -->
    <div class="col-12 py-4 my-4 py-lg-5 my-lg-5 section-quienesSomos_intro">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="text-verde_1 text-bold mb-3">Quiénes somos</h2>
                </div>
                <div class="col-12 col-lg-9 col-xl-8 text-center mb-4">
                    <p>Aquí escribes quien es listos, es importante darle una respuesta al origen del nombre para 
                        colocar en contexto al lector de quien es la empresa. Toda esta información debe redactarse 
                        de forma somera para no cargar al usuario con información que no se requiere en el index de la pagina. 
                        Unos pocas aplicaciones o beneficios de la marca y listo.</p>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="row">
                        <div class="col-12 col-lg-4 py-3" *ngFor="let item of Beneficios">
                            <div class="w-100 d-flex flex-column justify-content-center beneficios-item pe-4">
                                <img [src]="item.icon" alt="" class="">
                                <h4 class="text-gris_2 text-mdx text-semiBold mt-4 mb-0">{{item.title}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SECCION PROPUESTA VALOR-->
    <div class="col-12 py-4 pb-lg-0 pt-lg-5 section-quienesSomos_propuestaValor bg-grisClaro_1">
        <div class="row d-flex justify-content-around align-items-stretch">
            <div class="col-12 col-lg-4 px-5">
                <img src="/assets/images/quienes-somos/img-propuesta-valor.png" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-lg-6 offset-lg-1 py-4 me-auto">
                <h2 class="text-verde_1 text-bold mb-4">Nuestra propuesta de valor</h2>  
                <p>Somos una extensión de RRHH de nuestros clientes, trabajamos de manera colaborativa y agil conectandonos genuinamente con sus necesidades, brindando una experiencia unica para nuestros trabajadores.​</p>
                <p>Con el uso de tecnologías, analitica de datos  y la marca empleadora, promovemos la inclusión laboral y la atracción del mejor talento.​</p>
                <p>La amplia  trayectoria en el ambito juridico y conocimiento de las tendencias laborales  nos permiten construir una estructura de servicio especializada y flexible para cada sector y segmento económico que atendemos, logrando la continuidad del negocio para todo el ecosistema.</p>
                <br>
                <p>Somos una extensión de RRHH de nuestros clientes, trabajamos de manera colaborativa y agil conectandonos genuinamente con sus necesidades, brindando una experiencia unica para nuestros trabajadores.​</p>
                <p>Con el uso de tecnologías, analitica de datos  y la marca empleadora, promovemos la inclusión laboral y la atracción del mejor talento.​</p>
                <p>La amplia  trayectoria en el ambito juridico y conocimiento de las tendencias laborales  nos permiten construir una estructura de servicio especializada y flexible para cada sector y segmento económico que atendemos, logrando la continuidad del negocio para todo el ecosistema.</p>
            </div>
        </div>
    </div>
    <!-- SECCION ATRIBUTOS -->
    <div class="col-12 py-4 my-4 py-lg-5 my-lg-5 section-quienesSomos_atributos">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="text-verde_1 text-bold mb-3">Atributos de nuestro servicio</h2>
                </div>
                <div class="col-12 col-lg-9 col-xl-8 text-center mb-4">
                    <p>Duerante 45 años de experiencia hemos forjado una solida estructura de trabajo que nos permite hacerle frente a todas las exigencias del mercado laboral desarrollando estos atributos.</p>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row d-flex justify-content-between">
                        <div class="col-12 col-lg-5 py-3" *ngFor="let item of Atributos">
                            <div class="w-100 d-flex align-items-center atributos-item pe-4">
                                <img [src]="item.icon" alt="" class="">
                                <p class="text-gris_2 mb-0">{{item.texto}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SECCION NUESTROS CLIENTES -->
    <div class="col-12 section-quienesSomos_clientes bg-grisClaro_2">
        <div class="row d-flex align-items-stretch">
            <div class="col-12 py-5 col-lg-6">
                <div class="row justify-content-center d-flex">
                    <div class="col-12 text-center pt-2">
                        <h2 class="text-grisOscuro_1 text-bold mb-3">Nuestros clientes dicen:</h2>
                    </div>
                    <div class="col-11 col-lg-10">
                        <app-owl-carousel [customOptions]="OwlCarouselNuestrosClientesOptions" [slidesStore]="SlidesClientes" [customTemplateSlide]="OwlCarouselNuestrosClientes" class="section" *ngIf="SlidesClientes && OwlCarouselNuestrosClientesOptions"></app-owl-carousel>
                        <ng-template let-slide="slide" #OwlCarouselNuestrosClientes>
                            <div class="card card-clientes_owlcarousel">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 pt-2 pb-4">
                                            <img [src]="slide.IMAGEN" [alt]="slide.NOMBRE" [title]="slide.NOMBRE" class="img-fluid mb-3">
                                            <p class="text-negro_1">{{ slide.DESCRIPCION }}</p>
                                            <h5 class="text-md text-negro_1 text-bold">{{ slide.NOMBRE }}</h5>
                                            <p class="text-negro_1">{{ slide.CARGO }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 ps-lg-0">
                <img src="/assets/images/quienes-somos/banner-cobertura-nacional.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>