.navbar{
    &-page{
        box-shadow: 0px 1px 4px rgb(0,0,0,0.2);
        border-radius: 0px;
        border: 0px;
        background-color: $color-blanco;
        min-height: 90px;
        & .navbar-brand{
            img{
                max-width: 45px;
                @media #{$m1024}{
                    max-width: 56px;
                }
            }
        }
        & .nav-item{
            display: flex;
            align-items: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            & .nav-link{
                height: 100%;
                color: $color-grisOscuro_1;
                display: flex;
                align-items: center;
                border-bottom: 2px solid transparent;
                font-size: 0.95rem;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover,
                &:focus,
                &:active,
                &.active{
                    border-color: $color-verde_1;
                }
                & span.badge{
                    border-radius: 6px !important;
                    font-weight: 700 !important;
                    line-height: 1;
                    padding: 0.5rem 1rem;
                }
            }
        } 
        .dropdown-menu{
            border: 0px;
            border-radius: 0px;
            margin-top: .95rem;
            min-width: 32vw;
            padding: 1rem 1.8rem;
            left: -75%;
            box-shadow: 0 14px 12px 0px rgb(0 0 0 / 4%);
            & #accordion-navbar{
                border-radius: 0px;
                border:0px;
                & .accordion-item{
                    border:0px;
                    & .accordion-body{
                        padding: 0.5rem 1.2rem !important;
                    }
                    & .accordion-button{
                        background-color: transparent !important;
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        justify-content: start;
                        border: 0px !important;
                        color: $color-verde_1;
                        font-weight: 600;
                        padding: 0.7rem 0.5rem;
                        box-shadow: none !important;
                        &:after{
                            content: '\f054';
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 900;
                            -webkit-font-smoothing: antialiased;
                            display: inline-block;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            line-height: 1;
                            margin-left: 0 !important;
                            margin-right: 0.6rem;
                            background-image: none;
                            transition: ease-in-out all 0.4s;
                        }
                    }
                    & .accordion-button:not(.collapsed){
                        &:after{
                            content: '\f078';
                            transform: none;
                        }
                    }
                }   
            }
        }
    }
}

.nav{
    &-accordion{
        flex-direction: column;
        padding-left: 1rem;
        .nav-item{
            .nav-link{
                text-transform: initial;
                border:0px !important;
                font-weight: 300 !important;
                padding: 0.3rem 0.5rem;
                position: relative;
                &:hover,
                &:focus,
                &:active{
                    &::before{
                        content: '';
                        width: 2px;
                        height: 20px;
                        position: absolute;
                        left: -4px;
                        background-color: $color-gris_2;
                    }
                }
            }
        }
    }
    &-footer{
        display: flex;
        flex-direction: column;
        .nav-item{
            .nav-link{
                padding-left: 0px;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                color: $color-gris_1;
                line-height: 1.2;
                font-size: 0.95rem;
                &:hover,
                &:focus,
                &:active{
                    color: $color-grisOscuro_1 !important;
                }
            }
        }
    }
    &-footerBottom{
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-item{
            @media #{$m1024}{
                border-right: 1px solid $color-blanco;
            }
            &:nth-last-of-type(1){
                @media #{$m1024}{
                    border-right: 0px !important;
                }
            }
            .nav-link{
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                color: $color-blanco;
                line-height: 1.2;
                font-size: 0.75rem;
                font-weight: 300;
                &:hover,
                &:focus,
                &:active{}
            }
        }
    }
    &-footerRedesSociales{
        display: flex;
        .nav-item{
            margin-right: 0.6rem;
            .nav-link{
                border-radius: 100%;
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: $color-verde_1;
                border: 2px solid $color-verde_1;
                color: $color-blanco;
                font-size: 1.3rem;
                &:hover,
                &:focus,
                &:active{
                    color: $color-verde_1 !important;
                    background-color: transparent !important;
                }
            }
        }
    }
}