<!-- SECCION LP NUEVAS NOTICIAS -->
<div class="container">
    <section class="row section-detalle-noticias d-flex justify-content-center">
        <div class="col-12 col-lg-10 py-4 pt-lg-5 pb-lg-3">
            <button class="btn btn-volverGeneral text-gris_1" [routerLink]="['/web/inicio']">
                <i class="bi bi-chevron-left me-2"></i> 
                Volver a Noticias
            </button>
        </div>
        <div class="col-12 col-lg-8 section-detalle-noticias_title text-center mb-5">
            <h4 class="text-lg text-gris_1 text-bold text-uppercase">{{ categoriaNoticia }}</h4>
            <h2 class="text-verde_1 text-bold mb-3">{{ tituloNoticia }}</h2> 
        </div>
        <div class="col-12 col-lg-10 section-detalle-noticias_content pb-4">
            <img src="https://via.placeholder.com/442x552" align="right">
            <div class="w-100">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam labore est facere ipsum deserunt numquam incidunt quia officiis culpa sequi pariatur voluptatibus distinctio aliquam minus voluptate autem et, quidem deleniti?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eveniet veniam corporis saepe non fugiat, et voluptatem ipsam. Quos placeat provident quae fugit eaque. Architecto alias voluptates voluptatem rem minus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum pariatur error incidunt tempora magnam et harum beatae amet cumque commodi autem repellendus sapiente veritatis nam consequuntur, delectus at aperiam quia! 
                    Ab, voluptatem explicabo accusantium qui corrupti esse unde praesentium nostrum debitis cumque placeat, quo est et facere minima natus animi illum veniam nisi amet deleniti. Saepe ut ratione reprehenderit facere ab, 
                    illo exercitationem modi aperiam iste sunt quia libero maxime ipsum cupiditate animi atque placeat. Deserunt neque illo dignissimos. Qui repellendus ab quasi earum enim, dolorem autem nisi reprehenderit repudiandae, 
                    molestias, facilis expedita eius amet eaque ea aut vitae sed! Fuga eos cum temporibus veritatis reiciendis maxime itaque, obcaecati molestias earum ratione odio iusto alias inventore quam natus non debitis provident 
                    facere repellendus deleniti odit explicabo numquam praesentium hic! Repellat alias quos placeat deleniti deserunt iusto blanditiis. Neque laborum quidem non debitis quis asperiores sed iusto eos accusantium fugit! 
                    Ut aperiam sit ad itaque inventore! Error assumenda repudiandae ratione quisquam voluptatem odio neque veniam illum nam. Animi, sint quae. Ipsam minus eveniet explicabo eius praesentium exercitationem omnis fuga 
                    architecto unde blanditiis dolorem in voluptatibus vitae facilis commodi illo impedit, ipsa magni aspernatur? At corrupti necessitatibus sit alias odio. Incidunt aperiam deleniti eos nulla eveniet iste praesentium vel, 
                    est cupiditate repellat ipsam qui tenetur aspernatur? Cum necessitatibus atque fugit, laudantium temporibus, quasi voluptate quibusdam mollitia explicabo id, ipsam rerum dolor unde maiores maxime corrupti perferendis nihil quae! 
                    Alias eos tenetur velit repellendus veniam adipisci nostrum at? Nisi minima repellat molestias. Illo corrupti quas esse doloremque tempore error quidem quibusdam numquam obcaecati nihil iure cupiditate asperiores possimus necessitatibus quis temporibus in molestias ab, 
                    placeat soluta quisquam suscipit sit. Repellat ad minima dolore corrupti nihil. Ipsum exercitationem quas excepturi fugit modi neque fugiat cum id necessitatibus consequatur fuga, rem temporibus dolorum doloribus labore debitis laborum rerum voluptas blanditiis recusandae. 
                    Libero dolore labore animi quod optio porro perferendis voluptate illum quisquam. Laboriosam sit quis atque. Architecto, est? Asperiores repellat id totam architecto commodi, quae quia exercitationem sed consectetur tenetur rerum quis sit dolorem velit, tempora ut quidem! 
                    Eligendi, debitis sint. Minima dignissimos facere tempore?
                </p>
                <p>Ipsam veritatis odit sunt molestias, ea hic fugiat vitae quis? Dignissimos id ex veniam! Neque dolore molestias modi natus autem placeat maiores vel voluptatum atque optio a dignissimos distinctio consectetur tenetur 
                    maxime ea molestiae eveniet, nesciunt esse minus. Ut, officiis! Perferendis sit quidem officiis expedita consequatur accusantium maiores fugit rerum inventore autem necessitatibus eius voluptatum quia ullam iste illo quo, 
                    aliquid esse quasi dolorum explicabo exercitationem ea officia sed. Sint ea quaerat harum et impedit quas vel aliquam, vero velit voluptatibus! Libero cumque omnis corrupti porro expedita quibusdam nostrum sapiente rem alias maiores, 
                    fugit id velit, vel ad hic modi delectus rerum praesentium dolorum. Unde eligendi expedita quidem. Repellendus, beatae? Laborum quia iure, placeat velit modi temporibus quae! Doloremque temporibus quod, consectetur cum et voluptatem 
                    laudantium culpa excepturi repellat quis harum? A ipsa sed itaque deserunt, iure excepturi molestiae accusamus quas non reiciendis accusantium expedita possimus corrupti numquam vero. Magnam.</p>
            </div>
        </div>
        <div class="col-12 col-lg-10 section-detalle-noticias_share d-flex align-items-center mb-5 pb-4 pb-lg-5">
            <h4 class="text-mdx text-gris_1 text-bold text-uppercase me-4 mb-0">COMPARTIR:</h4>
            <ul class="nav nav-footerRedesSociales justify-content-center">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>   
        </div>
    </section>
</div>
